html, body {
  height: 100%;
  overflow: hidden;
}

body {
  color: #fff;
  background-size: cover;
}

.ui-index {
  display: none;
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -142px;

}

.ui-index h1 {
  font-size: 50px;
  text-shadow: 2px 8px 2px #000;
  text-align: center;
}

.ui-index .btn{
  display: block;
  color: #fff;
  font-size: 20px;
  background: paint(heart);
  border: 1px solid #999;
  border-radius: 6px;
  width: 140px;
  margin: 0 auto 14px auto;
}

.ui-panel {
  width: 80%;
  background: #070808;
  padding: 14px;
  border: 2px solid #fff;
  border-radius: 8px;
  text-align: center;
  box-sizing: border-box;
  position: absolute;
  left: 10%;
  top: 50%;
  margin-top: -109px;
}


.ui-panel button,.score>button {
  color: #fff;
  border: 1px solid #fff;
  background: paint(placeholder-box);
  font-size: 18px;
  vertical-align: baseline;
  line-height: 1.5em
}


.setting-group {
  list-style: none;
  padding: 0;
}

.setting-group .setting {
  margin-bottom: 10px;
}

.setting-group select {
  width: 100px;
  background: #fff;
  margin-left: 10px;
  border-radius: 0;
}
.score{
  position: fixed;
  top: 0;
  left: 0;
  font-size: 18px;
}

/*ui 默认是隐藏*/
.ui-index,
.ui-rule,
.ui-setting,
.ui-nan,
.ui-end{
  display: none;
}

.keys{
    width: 1500px;
    margin: 20px auto;
    background: #f8f8f8;
    padding: 10px;
    font-size: 0;
}
.item-key{
    float: left;
    width: 40px;
    height: 160px;
    background: #fff;
    border: 1px solid #333;
    z-index: 1;
}
.active{
    box-shadow: 0px -2px 3px #333 inset;
    background: linear-gradient(#fff, #ddd);
}
.area{
    display: inline-block;
}
.black{
    background: #333;
    color: #fff;
    height: 80px;
    width: 20px;
    margin-left: -11px;
    margin-right: -11px;
    z-index: 2;
    position: relative;
}
.blank.active{
    box-shadow: 0px -2px 3px #fff inset;
    background: linear-gradient(#ddd, #fff);
}

#piano{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}
/*游戏状态切换场景*/
[data-status="index"] .ui-index {
  display: block;
} 
[data-status="setting"] .ui-setting {
  display: block;
} 
[data-status="rule"] .ui-rule {
  display: block;
} 
[data-status="nan"] .ui-nan {
  display: block;
} 
[data-status="end"] .ui-end {
  display: block;
} 
[data-status="piano"] #piano {
  display: block;
} 